body {
  background: -webkit-gradient(linear, left bottom, right top, from(#111111), to(#13660b));
  background: -webkit-linear-gradient(bottom left, #111111, #13660b);
  background: -o-linear-gradient(bottom left, #111111, #13660b);
  background: linear-gradient(to top right, #111111, #13660b);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 3em;
  margin-top: -10px;
}

div#board {
  position: relative;
  margin: auto;
  width: 1024px;
  height: 863px;
  background: url("../img/board.jpg") no-repeat;
}

div#board #messageArea {
  position: absolute;
  margin-bottom: 0;
  color: #13660b;
}

div#board table {
  position: absolute;
  left: 173px;
  top: 98px;
  border-spacing: 0;
}

div#board table td {
  width: 94px;
  height: 94px;
}

div#board form {
  position: absolute;
  bottom: 100px;
  right: 0;
  padding: 15px;
  -webkit-background-size: cover;
          background-size: cover;
}

div#board form input:nth-child(1) {
  width: 60px;
  height: 50px;
  background: #fefff6;
  font-size: 30px;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

div#board form input:nth-child(1):hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

div#board form input:nth-child(2) {
  width: 70px;
  font-size: 32px;
  color: red;
  background: #004937;
  text-shadow: 1px 1px 2px #3d3d3d;
  -webkit-animation: bom 4s linear infinite;
          animation: bom 4s linear infinite;
  -webkit-border-radius: 6px;
          border-radius: 6px;
}

div#board form input:nth-child(2):hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

@-webkit-keyframes bom {
  0%, 100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@keyframes bom {
  0%, 100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

.hit {
  background: url("../img/ship.png") no-repeat center center;
}

.miss {
  background: url("../img/miss.png") no-repeat center center;
}
